/* Reset default margin and padding for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Apply some basic styling to the container */
.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 100px;
  font-weight: 300;
}

/* Style the labels */
label {
  display: block;
  margin-bottom: 10px;
  color: #000000;
  font-weight: 300;
}

/* Style the input fields */
input[type="number"],
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #f5f5f5;
  color: #333;
}

/* Style the button */
.btn, button{
  background-color: #4682b4;
  color: #fff;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 3px;
  transition: background-color 0.3s ease; 
  width: 49.5%;
}

button:hover {
  background-color: #3b6e99;
  transform: scale(1.01);
  transition: 0.3s ease; 
}

#deleteMessageBtn{
  width: 100%;
}

/* Style the result container */
.result {
  margin-top: 20px;
  font-weight: bold;
  color: #333;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.none {
  display: none;

}

.red-result {
  width: 100%;
  height: 50px;
  background-color: #ff2d2d;
  color: white;
}

.result div {
  width: 100%;
  height: 50px;
  background-color: #1ebb65;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.result p {
  color: rgb(54, 54, 54);
  font-weight: 300;
}


#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  z-index: 1;
}

.welcome-message {
  position: relative;
  z-index: 2;
  text-align: center;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.welcome-message h1 {
  margin-top: 0;
}

.welcome-message p {
  margin-bottom: 0;
}

/* Add the styles for the welcome message and overlay here */
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.welcome-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-52.5%, -50%);
  z-index: 2;
  text-align: center;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
  display: flex;
}

.welcome-message h1 {
  margin-top: 0;
}

.welcome-message p {
  margin-bottom: 0;
}

.okay {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.combination{
  background-color: white;
  color: #4682b4;
  border: 1px solid #4682b4;
}

.combination:hover{
  background-color: white;
  color: #4682b4;
  transform: scale(1.01);
  transition: 0.3s ease; 
}

.buttons{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

@media only screen and (max-width: 600px) {
  .container {
    margin: 10px;
    margin-top: 50px;
  }

  .welcome-message {
    min-width: 90%;
  }

  button, .btn{
    width: 100%;
    margin-bottom: 10px;
  }
}